.stat-item {
  display: flex;
  gap: 18px;
  padding: 18px;
  margin-bottom: 3px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;

  .stats-name {
    font-size: 20px;
    color: gray;
  }
}